# Dependencies
node_modules/

# Build output
dist/
.astro/
.vercel/

# Environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
